<div class="form-outline">
  <input mdbLabel type="email" id="typeEmails" class="form-control"/>
  <label mdbInput class="form-label" for="typeEmails">Email</label>
</div>
<div class="card mb-3 login-register-container centerItem mt-5">
  <div class="centerItem ">
    <div class="card-body" style="text-align: center">
      <h3>REGISTER</h3>
    </div>
    <div class="card-body">

      <div class="centerItem mb-5 p-3 login-register-body">
        <div class="form-outline">
          <input mdbLabel type="email" id="typeEmail" class="form-control"/>
          <label mdbInput class="form-label" for="typeEmail">Email</label>
        </div>
        <div class="form-outline mt-3">
          <input type="password" value="" autocomplete="false" id="typePassword" class="form-control"/>
          <label class="form-label" for="typePassword">Password</label>
        </div>

        <div class="form-outline mt-3">
          <input type="password" value="" autocomplete="false" id="confirmPassword" class="form-control"/>
          <label class="form-label" for="confirmPassword">Confirm Password</label>
        </div>

        <div style="padding-left: 35px; font-size: 12px; display: flex" class="form-check centerItem mt-2">
          <input style="width: 24px"
            mdbCheckbox
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
          <label class="form-check-label" for="flexCheckDefault">
            Click to confirm that you have read and Accept the Terms and Conditions and Privacy Policy for*
          </label>
        </div>

        <div class="d-grid gap-2 col-6 mx-auto mt-3 w-100">
          <button class="btn btn-dark" type="button">Register</button>
        </div>

        <div class="d-grid gap-2 col-6 mx-auto mt-3">
          <button [routerLink]="['/login']" class="btn btn-primary" type="button">Back To Login</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!--&lt;!&ndash;<app-custom-footer></app-custom-footer>&ndash;&gt;-->
<!--<div class="form-outline">-->
<!--  <input mdbInput type="text" id="form12" class="form-control" />-->
<!--  <label mdbLabel class="form-label" for="form12">Example label</label>-->
<!--</div>-->
